header, footer {
    background-color: #4682b4;
}

footer {
    padding: .5rem;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: whitesmoke;
        margin-left: 15px;
    }

    img {
        border-radius: 2px;
        box-shadow: 0 0 10px #ccc;
    }
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding: .5rem;
    margin-top: 5px;

    a {
        color: whitesmoke;
        text-decoration: none;
    }

    a:hover {
        color: #84d6e1;
        text-decoration: underline;
        transition: 400ms ease-in-out;
    }
}

h2 {
    color: #4682b4;
}

h3 {
    background-color: #4682b4;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
}

.city-image-fig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 250px;
        height: 300px;
    }

    figcaption {
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
    }
}

main {
    padding: 0 10px;
}

.course-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
        color: whitesmoke;
        background-color: #000;
        min-width: 150px;
        border-radius: 4px;
        margin: 2.5px;
        padding: 2px;
        list-style-type: none;
        text-align: center;
    }

    li:hover {
        cursor: pointer;
        color: #84d6e1;
        text-decoration: underline;
        transition: 400ms ease-in-out;
    }
}

.course-list-container {
    display: block;

    li {
        list-style-type: none;
        text-align: center;
        color: whitesmoke;
        background-color: #4e1805;
        margin: 10px 0;
        margin-left: -38px;
        padding: 10px;
        border-radius: 5px;
        font-weight: 700;
        /* width: 100%; */
    }

    li:nth-child(4),
    li:nth-child(6) {
        background-color: #ccc;
        color: #000;
        border: 1px solid #333;
    }

    li:hover {
        cursor: pointer;
        color: #84d6e1;
        text-decoration: underline;
        transition: 400ms ease-in-out;
    }

        li:nth-child(4):hover,
        li:nth-child(6):hover {
            color: rebeccapurple;
            transition: 400ms ease-in-out;
        }
}

footer {
    display: block;

    p, #cureentyear {
        color: whitesmoke;
    }

    #lastModified {
        color: #cce819;
        text-align: center;
    }

    .year-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 32px;
        height: 20px;
        margin-left: 10px;
    }
}